<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Developer Skills</title>
</head>
<body>
    <h1>My Developer Skills</h1>
    <ul>
      <% skills.forEach(function(t, idx) { %>
        <li>
          <a href="/skills/<%= idx %>"><%= t.skill %></a>
            - 
          <%= t.proficient ? 'acquired' : 'not acquired' %>
          <form action="/skills/<%= idx %>?_method=DELETE"
            class="delete-form" method="POST">
            <button type="submit">X</button>
          </form>
        </li>
      <% }); %>
    </ul>
    <a href="/skills/new">Add Skill</a>
  </body>
</html>