<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to My Skill List Home Page</h1>
    <p>My name is Jorge and I am junior developer interested in all things science and technology. I am excited to present to you a humble list of my growing developer skills.
    </p>
    <img src="https://i.imgur.com/RNfDqCu.jpg" alt="developer" height="600" width="600">
    <br><br>
    <a href="/skills">My Developer Skills</a>
  </body>
</html>
